<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="HC.WmsClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="isCompleted" value="RFIDCompleted"/>
		<add key="DeviceIP" value="192.168.1.200"/>
		<add key="DevicePort" value="100"/>
		<add key="GetAPIUrl" value="http://cningbo.highstore.cn/changzhan"/>
		<add key="PathServices" value="D:\摄像头视频\"/>
		<add key="CommanderFile" value="Basic.txt"/>
		<add key="OverTime" value="480"/>
		<add key="TraningUrl" value="http://localhost:32429/packingdemo/picturedemo"/>
		<add key="RecordingPath" value="D:\摄像头视频临时\"/>
		<add key="ErrorFilePath" value="D:\摄像头视频错误\"/>
                <add key="UpLoadFileBackPath" value="D:\摄像头视频本机备份\" />
		<add key="UpLoadFilePath" value="Y:\"/>
                <add key="AccessWebsiteUrl" value="http://124.160.226.98:8081/D:/shipin" />
		<add key="FilePreFix" value="F"/>
		<!--<add key="ComputerPreFix" value="lijinchang-PC,050027" />-->
                <add key="ComputerPreFix" value=""/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="IsUseExternalRecord" value="true"/>
		<add key="IsPreView" value="false"/>
		<add key="VideoFormat" value="640P"/>
		<add key="WareHouseCode" value=""/>
		<!--天线读取距离，截取位数，类型，FRID读取秒数1010 -->
		<add key="anti_fake_B" value="0,12,3,2"/>
		<add key="anti_fake_A" value="0,16,4,2"/>
    <!--新的RFID读卡器功率,只读设置在15即可-->
    <add key="power" value="15"/>
    <!--压缩出来视频最小值-->
    <add key="MinVideoSize" value="6"/>
    <!--视频录制帧数-->
    <add key="frameNumber" value="15"/>
    <!--新的RFID读卡器连接串口,默认为COM3-->
    <add key="comPort" value="COM3"/>
    <!--<add key="WareHouseCode" value="30" />-->
    <!--选择新的或旧的RFID客户端，默认为老版客户端(empty或null) -->
    <add key="OldNewRfid" value=""/>
    <!--打印机名称-->
    <add key="MD_PRINT" value="Microsoft XPS Document Writer"/>
    <!--单品单件面单是否打印-->
    <add key="Printing" value="true"/>
    <add key="ISPICTURE" value="1"/>
    <!--快递编码水印简写“冒号分号”分隔，简写可多个字母，使用";ZTO:"来判断-->
    <add key="LOGIS_CODE_LIST" value=";ZTO:Z;YTO:Y;EMS:E;YUNDA:D;ZMKM:M;SF:S;JHTD:J;SJFD:F;WTP:W;NJSB:B;TTK:T;STO:O;BEST:H"/>
    <add key="CompressCommand" value=" -i {0} -s 640x480 -vcodec libx264 -acodec aac -strict experimental -y -ac 1 -r 12 -ab 24 -aspect 16:9"/>
	</appSettings>
	<system.web>  
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
	</system.web>
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<parameter>
				<parameterName value="@log_date"/>
				<dbType value="DateTime"/>
				<layout type="log4net.Layout.RawTimeStampLayout"/>
			</parameter>
			<parameter>
				<parameterName value="@thread"/>
				<layout>
					<conversionPattern value="%thread"/>
				</layout>
			</parameter>
			<parameter>
				<parameterName value="@log_level"/>
				<dbType value="String"/>
				<size value="50"/>
				<layout>
					<conversionPattern value="%level"/>
				</layout>
			</parameter>
			<parameter>
				<dbType value="String"/>
				<size value="255"/>
			</parameter>
			<parameter>
				<parameterName value="@message"/>
				<dbType value="String"/>
				<size value="4000"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%message"/>
				</layout>
			</parameter>
			<file type="log4net.Util.PatternString" value="DayLog\\Log-%date{yyyy.MM.dd}.log"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<header value="[Header]"/>
				<footer value="[Footer]"/>
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<appender-ref ref="LogFileAppender"/>
		</root>
	</log4net>
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<HC.WmsClient.Properties.Settings>
			<setting name="RightWsService" serializeAs="String">
        <!--<value>http://wms.hzd.highstore.cn/rights/RightsServiceForMultiApp.asmx</value>-->
        <value>http://web.sm.kaola.com/rights/RightsServiceForMultiApp.asmx</value>
			</setting>
		</HC.WmsClient.Properties.Settings>
	</userSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="PrintServiceSoap" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:13484/PrintService.asmx"
    binding="basicHttpBinding" bindingConfiguration="PrintServiceSoap"
    contract="ServiceReference.PrintServiceSoap" name="单品单件后置打印_PrintService" />
  </client>
 </system.serviceModel>
</configuration>
